.card {
  /* background: rgba(0, 153, 255, 0.575); */
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 0.3rem;
  overflow: hidden;
}

.cardImage {
  height: 100%;
}

.cardImage img {
  height: 100%;
  width: 100%;
}

.cardTitle {
  width: 100%;
  position: absolute;
  bottom: 0.5rem;
  z-index: 3;
  text-align: center;
}