.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.header {
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size: 1.8rem;
}

.categoriesBar {
  margin: 1.3rem 0;
  text-align: center;
}

.btn {
  background: rgb(228, 243, 253);
  width: 8rem;
  color: rgb(23, 14, 61);
  border: 2px solid transparent;
  border-radius: 0.3rem;
  padding: 0.3rem 1.2rem;
  font-size: 1rem;
  font-weight: bold;
}

.btn:not(:first-child) {
  margin-left: 1rem;
}

.btn.selected {
  border-color: rgba(0, 153, 255, 0.575);
}

/* SEARCH BAR */
.searchBar {
  /* border: 1px solid red; */
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.searchBar label {
  font-size: 1.2rem;
  color: rgba(58, 67, 73, 0.548)
}

.searchBar input {
  border: 2px solid rgb(198, 230, 252);
  padding: 0.5rem 1rem;
  outline: none;
  font-size: 1rem;
  border-radius: 0.5rem;
  color:rgb(0, 22, 63)
}

.searchBar input:focus {
  border-color: rgba(0, 153, 255, 0.575);
}

.searchTerm {
  min-height: 1rem;
  padding: 1rem 0 0;
  line-height: 1rem;
  font-size: 1.2rem;
  margin-top: 0;
}

/* CARD CONTAINER */
.cardContainer {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* MEDIA QUERIES */
@media (min-width: 900px) {
  .categoriesBar {
    text-align: left;
  }
}